@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  outline: 0;
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  outline: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #84a278;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-typethree, .button-typetwo, .button-typeone, .button-submit {
  justify-content: center;
  align-items: center;
  height: 42px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  border-radius: 10px;
  border: none;
}

.container {
  max-width: 1200x;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding-top: 61px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.about .container {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .about .container {
    max-width: 768px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .about .container {
    max-width: 768px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .about .container {
    max-width: 1200px;
  }
}
.about__subtitle {
  margin-bottom: 12px;
  color: #fcfcfc;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .about__subtitle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2222222222;
  }
}
@media screen and (min-width: 768px) {
  .about__subtitle {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.2272727273;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .about__subtitle {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.2333333333;
    letter-spacing: 0.04em;
  }
}
.about__title {
  font-family: "Seymour One";
  color: #fcfcfc;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .about__title {
    font-family: "Seymour One";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2666666667;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
    max-width: 220px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .about__title {
    font-weight: 400;
    font-size: 34px;
    line-height: 1.2647058824;
    letter-spacing: 0.06em;
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 82px;
  }
}

@media screen and (min-width: 768px) {
  .picture-text {
    display: flex;
    align-items: center;
  }
}

.image__cow {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .image__cow {
    width: 279px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .image__cow {
    width: 330px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .image__cow {
    max-width: 490px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.text {
  font-family: "Montserrat";
  color: #fcfcfc;
  font-weight: 400;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .text {
    text-align: start;
    margin-left: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .text {
    margin-left: 109px;
  }
}
.text__list {
  margin-right: auto;
  margin-left: auto;
  max-width: 220px;
}
@media screen and (min-width: 768px) {
  .text__list {
    max-width: 334px;
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .text__list {
    max-width: 463px;
    margin-right: 0;
  }
}
.text__item {
  text-align: center;
}

.first-description {
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .first-description {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.75;
    letter-spacing: 0.04em;
    text-align: start;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .first-description {
    font-size: 16px;
    line-height: 1.75;
  }
}

.second-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5833333333;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .second-description {
    font-size: 12px;
    line-height: 1.75;
    text-align: start;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .second-description {
    font-size: 14px;
    line-height: 1.9285714286;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 768px) {
  .third-description {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .third-description {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    display: block;
    font-size: 12px;
    line-height: 1.9166666667;
    text-align: start;
    margin-bottom: 32px;
    max-width: 260px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .third-description {
    font-size: 14px;
    line-height: 1.9285714286;
    margin-bottom: 54px;
    max-width: 463px;
  }
}

.contacts__cafe {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 40px 32px 24px;
  background-color: #FCFCFC;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
.contacts__title {
  display: inline-block;
  width: auto;
  padding: 4px 22px;
  padding-bottom: 4px;
  height: 22px;
  background-color: #F8D24E;
  border: none;
  border-radius: 4px;
  box-sizing: content-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.04em;
  color: #131313;
}
.contacts__adress {
  margin-top: 20px;
  border-bottom: 1px solid #E1E1E1;
}
.contacts__caption {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #131313;
}
.contacts__map {
  display: block;
  margin-top: 8px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #D6936D;
}
.contacts__hours {
  padding: 24px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #ABABAB;
  border-bottom: 1px solid #E1E1E1;
}
.contacts__tel-mail {
  padding-top: 24px;
}
.contacts__locations {
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 12px 40px;
  border: none;
  border-radius: 10px;
  width: 196px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: #131313;
  background-color: #F8D24E;
}
.contacts__franchise {
  display: block;
  margin: 0 auto;
  padding: 12px 40px;
  border: 2px solid #F8D24E;
  border-radius: 10px;
  width: 196px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: #131313;
  background-color: #84A178;
}

.btn-wrap {
  margin-top: 50px;
  display: inline-flex;
  flex-direction: column;
}

.button-submit {
  width: 121px;
  background-color: #f8d24e;
}

.button-typeone {
  width: 154px;
  height: 40px;
  background-color: inherit;
  text-decoration: underline;
  color: #f8d24e;
}

.button-typetwo {
  background-color: inherit;
  border: 2px solid #f8d24e;
}

.button-typethree {
  background-color: #f8d24e;
}

.active-typeone {
  transition: color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active-typeone:hover {
  color: #0a8817;
}
.active-typeone:focus {
  color: #fcfcfc;
}

.active-typetwo {
  transition: border-color 1000ms cubic-bezier(0.4, 0, 0.2, 1), color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active-typetwo:hover {
  border: 2px solid #0a8817;
}
.active-typetwo:focus {
  border: 2px solid #0a8817;
  color: #fcfcfc;
}

.active-typethree {
  transition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1), color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active-typethree:hover {
  background-color: #0a8817;
}
.active-typethree:focus {
  background-color: #0a8817;
  color: #fcfcfc;
}

.size-readmore {
  width: 164px;
}

.size-location {
  width: 196px;
}

.size-buynow {
  width: 152px;
}

.size-products {
  width: 134px;
}

.size-franchise {
  width: 196px;
}/*# sourceMappingURL=index.css.map */