<section class="advan">
  <div class="container">
    <h2 class="visually-hidden">Advantages of the milk</h2>
    <p class="advan__slogan">tradition and love</p>
    <p class="advan__question">how it’s made?</p>
    <img
      srcset="
        images/cow-mobile.png      313w,
        images/cow-tablet.png      370w,
        images/cow-desktop.png     536w,
        images/cow-mobile@2x.png   626w,
        images/cow-tablet@2x.png   740w,
        images/cow-desktop@2x.png 1072w
      "
      sizes="(min-width: 1200px) 536px, 
              (min-width: 768px) 370px, 
              (min-width: 480px) 313px, 100vw"
      src="images/cow-mobile.png"
      alt="Cow on the meadow"
      class="advan__img"
      loading="lazy"
    />
    <p class="advan__description advan__description-one">
      Ice is a place where you will become not only a little happier, but also
      healthier. Health is the main value for us, and we follow it when creating
      our handmade desserts.
    </p>
    <p class="advan__description advan__description-two">
      We use traditional recipes and 100% natural ingredients. Our products are
      so natural that they can be given to children from the age of three years.
      Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23
      milkshakes.
    </p>
    <p class="advan__description advan__description-three">This is enough to choose 
      ice cream and coffee for any mood!</p>
    <button data-modal-open type="submit" class="advan__button">
      Read more
      <svg class="advan__button-icon" width="12" height="12">
                  <use href="images/arrow.svg"></use>
                </svg>
    </button>
    <ul class="advan__list">
      <li class="advan__item advan__item--first">
        <p class="advan__quality advan__quality--first">721</p>
        <p class="advan__quality-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advan__item">
        <p class="advan__quality advan__quality--second">16kg</p>
        <p class="advan__quality-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advan__item">
        <p class="advan__quality advan__quality--third">84</p>
        <p class="advan__quality-description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
