<section class="container slide">
  <div>
    <h2 class="visually-hidden">customer-reviews</h2>
    <ul>
      <li>
        <img
          class="slide__img"
          src="./images/customer-reviews/slide/slide1-1x.jpg"
          alt="slide1"
        />
        <img
          class="slide__client"
          src="./images/customer-reviews/photo/photo1-1x.png"
          alt="photo1"
        />
        <div class="content">
          <p class="slide__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <p class="location">Emily, Los Angeles</p>
      </li>
    </ul>
  </div>
</section>
