<header class="container header-container">
      <div class="header__wrapper">

        <!-- logo -->

          <svg class="header__logomob" width="40" height="37">
              <use href="./images/sprite.svg#icon-Logomob"></use>
          </svg>
          <svg class="header__logotab" width="48" height="44">
            <use href="./images/sprite.svg#icon-Logotab"></use>
          </svg>
          <svg class="header__logodesk" width="60" height="65">
            <use href="./images/sprite.svg#icon-Logodesk"></use>
          </svg>

          <button class="header__menu-button" type="button" aria-expanded="false" data-menu-button>
            <svg class="header__menu-icon" width="22" height="22" aria-label="Переключатель мобильного меню">
              <use class="icon-open" href="./images/sprite.svg#icon-open"></use>
              <use class="icon-close" href="./images/sprite.svg#icon-close"></use>
            </svg>
           </button>

          <!-- menu -->
          
          <nav class="header__menu" data-menu>
              <ul class="header__list">
                  <li class="header__item"><a class="header__link" href="#Home">Home</a></li>
                  <li class="header__item"><a class="header__link" href="#How it’s made?">How it’s made?</a></li>
                  <li class="header__item"><a class="header__link" href="#Our products">Our products</a></li>
                  <li class="header__item"><a class="header__link" href="#Contact">Contact</a></li>
              </ul>
              <button class="header__button-order button-order" type="button" data-menu>
                Buy now
                <svg class="header__button-icon" width="12" height="12" aria-label="Переключатель мобильного меню">
                  <use class="icon-arrow" href="./images/sprite.svg#icon-arrow"></use>
                </svg>
              </button>
              <button class="header__menu-button--tablet" type="button" aria-expanded="false" data-menu-close-button>
                <svg class="header__menu-icon" width="22" height="22" aria-label="Переключатель мобильного меню">
                  <use class="icon-close--tablet" href="./images/sprite.svg#icon-close"></use>
                </svg>
               </button>
          </nav>
          <button class="header__button-order" type="button" data-menu>
            Buy now
              <svg class="header__button-icon" width="12" height="12" aria-label="Переключатель мобильного меню">
                <use class="icon-arrow" href="./images/sprite.svg#icon-arrow"></use>
              </svg>
          </button>
      </div>  
    </header>

