<!-- modal windows for button "Buy now" -->

<div class="modal" data-modal="1">
  <button class="modal__button js-modal-close" type="button" data-modal="1">
    <svg class="modal__icon" width="11" height="11">
      <use href="images/sprite-modals.svg#icon-close"></use>
    </svg>
  </button>
  <form class="modal-form">
    <h2 class="modal-form__title">Buy now</h2>
    <label class="modal-form__label">
      <input
        class="modal-form__input"
        type="text"
        name="user-name"
        placeholder="Name"
        required
        pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
        title="Username must be two words separated by space."
      />
    </label>

    <label class="modal-form__label">
      <input
        class="modal-form__input"
        type="tel"
        name="tel"
        placeholder="Phone"
        required
        pattern="[0-9]{3} [0-9]{7}"
        title="Format 012 3456789"
      />
    </label>

    <textarea
      class="modal-form__comments"
      name="comments"
      cols="30"
      rows="10"
      placeholder="Comment"
    ></textarea>

    <button
      class="button-submit active-typethree button__buy-now"
      type="submit"
    >
      Submit
    </button>
  </form>
</div>
